{% extends 'base.html' %}
{% block body_block %}
{% if dlt %}
<h3>Do you want to delete {{ album.album_name }} ?</h3>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" name="submit" class="btn btn-danger btn-sm">
<a href={% url 'musician_info:musician_detail' album.artist.id %} class="btn btn-warning btn-sm">Cancel</a>
</form>
{% else %}
<h3>Do you want to delete {{ musician.first_name }} {{ musician.last_name }} ?</h3>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" name="submit" class="btn btn-danger btn-sm">
<a href={% url 'musician_info:index' %} class="btn btn-warning btn-sm">Cancel</a>
</form>
{% endif %}

{% endblock %}